@react-navigation/native 
@react-navigation/native-stack
@react-native-firebase/app
@react-native-firebase/auth
@react-native-firebase/firestore
@react-native-firebase/storage
react-native-ble-plx
react-native-keyboard-aware-scroll-view
react-native-chart-kit
react-native-user-avatar
react-native-app-intro-slider
react-native-elements
react-native-add-calendar-event
moment
@react-native-picker/picker
react-native-image-crop-picker
@react-native-community/checkbox
rn-checkbox-list
react-native-modal